<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Login Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <style type="text/css">
  #form #form-group{
  position:relative;
  }
  .eerror{
  font-style: italic;
  }
  
  </style>
  <script>
  
  		function validation(){
  			document.getElementById("emailError").innerHTML="";
      	  	document.getElementById("genMessage").innerHTML="";
  			
  			var emailObject =document.getElementById("email");
  			var emailText=emailObject.value;
  			var pattern= /^[^ ]+@[^ ]+\.[a-z]{2,3}$/;
  			if (emailText.match(pattern)){
  				document.getElementById("emailError").innerHTML ="Your Email is valid";
  				document.getElementById("emailError").style.color="#00ff00";
  			}else{
  				document.getElementById("emailError").innerHTML ="Please Enter Valid Email";
  				document.getElementById("emailError").style.color="#ff0000";
  			}
  			
  		}
   		//not being used;
        function clearText(){
        	   //span
        	  document.getElementById("emailError").innerHTML="";
        	  document.getElementById("genMessage").innerHTML="";
        }
   
         function findPassword() {
        	   var   emailObj=document.getElementById("email");
        	   var  emailText=emailObj.value;
        	   if(emailText.length<7){
        		     document.getElementById("emailError").innerHTML="Email can't be blank";
        		     emailObj.focus();
        		     return;
        	   }
               //THis submitting the form
               document.authForm.submit();
         }
   </script>
  <style>
.ffooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  height: 30px;
  background-color:#e9ffe7;
}
</style>
</head>
<body>
<header style="height: 30px;background-color: maroon;">
</header>
<div class="container">
  <h2>Customer Password Recovery
  </h2>
  <img th:src="@{/images/security_questions.png}" alt="Logo" style="height: 140px"/>
   <br/>
   <span id="genMessage" th:utext="${error}" style="color: red;font-size: 18px;font-weight: bold;"></span>
  <div style="width: 70%">
   <form id="authForm" onsubmit="return false" name="authForm" action="#" method="post"
			th:action="@{/customer/account/securityQuestion}" >
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" style="width: 60%;" class="form-control" name="email" id="email" placeholder="Enter email address"  onkeyup="validation();">
      <span style="color: red; font-size: 18px;" class="eerror" id="emailError"></span> <br />
    </div>
    <button type="button" class="btn btn-primary" onclick="findPassword();"  onkeydown="validation();">Validated User</button>
  </form>
  </div>
</div>
<footer  class="ffooter">
</footer>

</body>
</html>